.tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.tech-stack .tech-icon {
  width: 75px;
  height: 60px;
}

.tech-stack .tech-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  .tech-name {
    font-size: 0.9rem;
    color: #dadada;
    text-align: center;
    transition: all 0.5s ease;
  }
  .tech-name.hide {
    opacity: 0;
    visibility: hidden;
  }
}


@media (max-width: 700px) {
  .tech-stack {
    gap: 8px;
    box-sizing: border-box;
    margin-top: 0.5rem;
  }
  .tech-stack .tech-icon {
  width: 40px;
  height: 40px;
}
}