@import url("/src/App.css");
#work-exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

#work-exp h2 {
  font-size: 3em;
  color: var(--green);
  margin-bottom: 20px;
}

#work-exp .work-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

@media (max-width: 700px) {
  #work-exp h2 {
    font-size: 2.2em;
  }

  #work-exp .work-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    padding: 0px 10px;
  }
}
