.project-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: var(--dark);
  padding-bottom: 100px;
  padding: 40px 80px;
  box-sizing: border-box;
}

.bento-grid {
  display: grid;
  grid-template-columns: 35% 60%;
  gap: 5%;
  width: 100%;
  justify-content: center;
  align-items: start;
}

.bento-grid .left-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.bento-grid .right-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;

}

.bento-grid .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  gap: 20px;
  padding: 20px;
  background: var(--very-dark-green);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;

}

.project-main .left-grid h3 {
  width: 100%;
  text-align: center;
  font-size: 3.2em;
  letter-spacing: 2px;
  background: linear-gradient(180deg, var(--green) 36.98%, var(--light-green) 93.79%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.project-main	 .left-grid a {
  text-decoration: none;
  color: var(--very-dark-green);
  font-weight: 700;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--green);
  border-radius: 6px;
  font-size: 1.2em;
  transition: all 0.3s ease;

}
.project-main p {
  text-align: center;
  color: rgb(197, 197, 197);
  font-size: 1.1em;
}