.project-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  position: relative;
  min-height: 100vh;
  background: var(--dark);
  padding-bottom: 100px;
}