@import url("/src/App.css");
#landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  position: relative;
  min-height: 100vh;
  background: var(--dark);
  width: 85%;
  padding-bottom: 100px;
}

#landing header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  font-family: var(--font-family);
}

#landing header h1 {
  font-size: 4em;
  background: linear-gradient(180deg, var(--green) 36.98%, var(--very-dark-green) 93.79%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

#landing header h3 {
  font-size: 2.5em;
  color: var(--white-green);
  margin: 0;
}

#landing header strong {
  font-size: 2.2em;
  margin-top: 0;
  color: white;
}

#landing header p {
  text-align: center;
  width: 60%;
  margin: auto;
  color: rgb(197, 197, 197);
  font-size: 1.1em;
}
