@import url("/src/App.css");
#studies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

#studies h2 {
  font-size: 3em;
  color: var(--green);
  margin-bottom: 20px;
}

#studies ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px 3%;
  height: 100%;
  width: 100%;
}

#studies ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  width: 47%;
  padding: 25px;
  background: var(--dark);
  border-radius: 12px;
  box-shadow: 0 0 8px 0 var(--green);
  transition: all 0.3s ease;
  box-sizing: border-box;
}

#studies ul li div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

#studies ul li strong {
  text-align: left;
  font-size: 1.2em;
  color: var(--light-green);
  font-family: var(--font-family);
  margin: 0;
}

#studies ul li span {
  text-align: left;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-family);
}

@media (max-width: 700px) {
  #studies {
    padding: 0px 10px;
    box-sizing: border-box;
    width: 100%;
  }

  #studies h2 {
    font-size: 2.2em;
  }

  #studies ul {
    margin: 0;
    padding: 0;
  }

  #studies ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    padding: 15px;
  }
}
