.fav-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.fav-stack h2 {
  font-size: 3em;
  color: var(--green);
  margin-bottom: 20px;
}

.fav-stack .stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
  flex-wrap: wrap;
}

.fav-stack .stack-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  img {
    width: 40px;
    height: 40px;
  }
  span {
    font-size: 1.2rem;
    color: var(--white-green);
    text-align: center;
    transition: all 0.5s ease;
  }
}


@media (max-width: 700px) {
  .fav-stack h2 {
    font-size: 2.2em;
  }

  #work-exp .work-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    padding: 0px 10px;
  }
}