@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: Inter;
}
.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background: var(--dark);
}

:root {
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--light-green) var(--darkest-green);
  --dark: rgb(16, 17, 18);
  --darkest-green: #021912;
  --very-dark-green: #06281d;
  --dark-green: #0d4732;
  --mid-dark-green: #0f563c;
  --mid-green: #148759;
  --green: #22a770;
  --light-green: #7bdaac;
  --white-green: #eefbf4; /* #rgba(238, 251, 244, 1) */
  --font-family: "Roboto", sans-serif;
}

/* For Webkit browsers (Chrome, Safari) */
:root ::-webkit-scrollbar {
  width: 8px;
  background-color: var(--darkest-green);
}

:root ::-webkit-scrollbar-thumb {
  background-color: var(--darkest-green);
}

:root::-webkit-scrollbar-track {
  background-color: var(--darkest-green);;
}