.App {
  height: 100vh;
  width: 100%;
  text-align: center;
}


:root {
  --darkest-green: #021912;
  --very-dark-green: #06281d;
  --dark-green: #0d4732;
  --mid-dark-green: #0f563c;
  --mid-green: #148759;
  --green: #22a770;
  --light-green: #7bdaac;
  --white-green: #eefbf4;
}
