body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --darkest-green: #06281d;
  --dark-green: #0d4732;
  --mid-dark-green: #0f563c;
  --mid-green: #148759;
  --green: #22a770;
  --light-green: #7bdaac;
  --white-green: #eefbf4;
}
